table {
    margin : 10px !important;
}

th,td {
    width: 25px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    
}

td {
    text-align: right !important;
    padding-right: 3px !important;
}

th {
    background-color: lightgray;
    text-align: center !important;
}

.weekend {
    background-color: chartreuse;
}

a {
    font-size : 26px;
}

h1 {
    text-align : center !important;
    background-color : rgb(100, 99, 102);
    font-size : 30px !important;
    color : White !important;
    border-left: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-bottom: 3px solid lightgrey;
    border-top : 3px solid lightgrey;
    margin : 15px !important;
    margin-left : 300px !important;
    margin-right : 300px !important;
}

.precedent, .suivant {
    text-align : center !important;
}
